.header {
  margin: var(--spacing-lg) var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .sign-in {
  display: flex;
  flex-basis: 200px;
  justify-content: space-between;
}

.burger-menu {
  width: 32px;
  height: 24px;
  border: none;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  background-image: url("../../images/menu.svg");
}

.nav-menu {
  display: none;
}

.nav-menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 320px;
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  background-color: var(--color-white);
  z-index: var(--z-index-top);
  transform: translate(100%);
  transition: transform 0.3s ease-out;
}

.nav-menu-mobile .header {
  padding-top: var(--spacing-lg);
  padding-bottom: var(--spacing-sm);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-gray-20);
}

.nav-menu-mobile ul {
  margin-top: var(--spacing-lg);
}

.nav-menu-mobile ul li {
  padding-bottom: var(--spacing-lg);
}

.nav-menu-mobile ul li a {
  font-weight: var(--font-weight-bold);
  color: var(--color-violet-light);
}

#nav-menu-mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-dark);
  opacity: 0;
  z-index: var(--z-index-top);
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.nav-menu-mobile .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu-mobile .close-button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/close-icon.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .header {
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
  }

  .burger-menu,
  .nav-menu-mobile,
  #nav-menu-mobile-backdrop {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-left: var(--spacing-xl);
  }

  .nav-menu ul li a {
    font-weight: var(--font-weight-bold);
    color: var(--color-violet-light);
  }

  .nav-menu ul li a:hover {
    text-decoration: underline;
  }

  .nav-menu ul li .link:hover {
    text-decoration: none;
  }

  .link {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-primary);
    border-radius: var(--border-radius-base);
    padding: var(--spacing-sm) var(--spacing-lg);
  }

  .header .menu {
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
  }
}
